:root {
    --bgColor: #181a1b;
    --lightColor: #64aef1;
    --normalColor: #2791c8;
    --darkColor: #207aa7;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500; 
    font-size: 25px;
    box-sizing: border-box;
}
html {
    background: var(--bgColor);
    color: var(--normalColor);
    margin: 0;
    padding: 0;
}
#container {
    width: 1130px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--lightColor);
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.light-text {
    color: var(--lightColor);
}
.light-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--darkColor);
    font-size: 20px;
    border: var(--darkColor) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    outline: none;
}
.light-button:hover,
.light-button:focus {
    background-color: var(--darkColor);
    color: var(--bgColor);
}
.light-input {
    background-color: rgba(0, 0, 0, 0);
    color: var(--darkColor);
    font-size: 20px;
    border: var(--darkColor) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    outline: none;
}
.light-input:hover,
.light-input:focus {
    background-color: var(--darkColor);
    color: var(--bgColor);
}

.list {
    text-align: left;
}
.a-button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--normalColor);
}
fieldset {
    border: var(--normalColor) 0.125em solid;
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
.g-recaptcha {
    margin-top: 10px;
    text-align: -webkit-center;
}
.dark {
    color: var(--darkColor);
}
.light {
    color: var(--lightColor);
}
.llabel {
    display: block;
    text-align: left;
    margin-left: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}
.g-recaptcha {
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
}
.right {
    display: flex;
    justify-content: flex-end;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.center {
    display: flex;
    justify-content: center;
}
.column {
    flex-direction: column;
    text-align: center;
}