:root {
    --bgColor: hsl(221, 21%, 16%);
    --normalColor: hsl(215, 83%, 67%);
}
* {
    margin: 0 auto;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: var(--normalColor);
}
body { 
    margin: 0; 
    height: auto; 
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
}
#container { 
    width: auto;
    min-width: 500px;
}
.regular {
    font-size: 25px;
    font-weight: 400;
}
.medium {
    font-size: 35px;
    font-weight: 500;
}
.bold {
    font-size: 50px;
    font-weight: 700;
}
p {
    color: gray;
    margin : 5px 0;
}